.container{
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.inner{
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.icon{
    margin-bottom: 50px;
}

.message{
    font-size: 3rem;
    margin-bottom: 20px;
}


.subMessage{
    font-size: 1rem;
    color: 
    #929292;
    margin-bottom: 60px;
}