@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Inter:wght@300;400&family=Nova+Oval&family=Rubik+Wet+Paint&display=swap');


*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Inter';  
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 2s infinite linear;
}


input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}